BODY {
  position: relative;
  padding-top: 70px;
}
#featured-speaker-section .hidden-xs h3 {
    margin-top: 0;
}
#hero-unit {
  background-image:url('../img/ShaneClaiborne1.jpg');
  background-size:cover;
}
#mobile-hero-bug {
  margin-left: 5px;
  width: 60%;
}
#desktop-hero-bug {
  position: relative;
  top: 48px;
  left: 40px;
  width: 30em;
  padding: 10px;
}
#desktop-hero-transparent-bg {
  background-color: white;
  opacity: .5; 
  height: 250px; 
}
#desktop-hero-text {
  position: relative;
  top: -265px;
  left: 16px;
}
#desktop-hero-bug H1 {
  font-size: 5em;
  opacity: 1;
}
#desktop-hero-bug P {
  font-size: 2em;
  opacity: 1;
}
@media (min-width: 768px) {
  #hero-unit { height: 600px;}
}
#mapid {height: 450px;}
/*
#hero-text {
  position: relative;
  top: -372px;
  width: 33em;
}
*/
